.formulario{
    font-weight: bold;
}

#registrar{
    margin-bottom: 100px;
}

#contactenos{
    margin-top: 30px;
}

#contactenos p{
    font-weight: 500;
    font-size: large;
}
small{
    color: red;
    font-weight: bold;
}