{% extends 'core/plantilla.html' %}

{% load static %}

{% block titulo %}Home{% endblock %}

{% block body %}

    <div class="container">
        <h1>Quienes Somos</h1>
        <img class="" src="{% static 'core/icono/yo.jpg' %}" alt="" height="500px" weigth="500px">
        <p>Nombre: Angel Benjamin López Salas</p>
        <p>Estudiante de Analista Programador en DuocUC</p>
        <p>Seccion: PGY3121_002D</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}