{% extends 'core/plantilla.html' %}

{% load static %}

{% block titulo %}Albums{% endblock %}

{% block body %}


<section class="container my-4"> 
    <h1>Albums reseñados</h1>
    <br>
    <div class = "container">
    <div class="row">
        <div class="col-xl-3 sticky-top p-5">
            <h1>Filtrar</h1>
            <button class="btn btn-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiltros" aria-expanded="false" aria-controls="collapseExample">
                Ver más
            </button>
            <div class="collapse" id="collapseFiltros">
            </br>
            <h5><strong>Genero</strong></h5>
            <form method="GET" action="{% url 'filtroalbum' %}" name="filter-form" id="filter-form">
                {% for g in Generos %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="filter_field" id="filter-field-{{ g.id }}" value="{{ g.id }}">
                        <label class="form-check-label" for="filter-field-{{ g.id }}">{{ g.genero }} </label>
                    </div>
                {% endfor %}
                </br>
                <button type="submit" class="btn btn-dark">Filtrar</button>
            </form>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for v in albums %}
        <div class="col">
            <div class="card h-100">
                {% if v.image %}
                <img src="{{v.image.url}}" class="card-img-top p-2" alt="{{v.title}}">
                {% else %}
                <img src="{% static 'crud/icono/imagen_no_encontrada.png' %}" class="card-img-top" alt="Image not found">
                {% endif  %}
                <div class="card-body">
                    <p class="card-title fw-bold">{{v.title}}</p>
                    <p class="card-text">Artista: {{v.artista}}</p>
                    <p class="card-text">Genero: {{v.genero}}</p>
                    <p class="card-text fst-italic">Recomendacion: {{v.recomendacion.recomendacion}}</p>

                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-primary" href="{% url 'album-resena' album_id=v.idAlbum %}">
                        <i class="fa-solid fa-cart-plus">Leer Reseña</i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</section>

{% endblock %}