{% extends 'crud/plantilla.html' %}

{% load static %}


{% block main_content %}
<div class="container m-4">
    <div class="row mb-3">
        <h1>ID : {{album.idAlbum}}</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            {% if album.image %}
            <img class="" src="{{album.image.url}}" alt="{{album.title}}">
            {% else%}
            <img class="" src="{% static 'crud/img/image_not_found.jpg' %}" alt="INF">
            {% endif %}
        </div>
        <div class="col-md-8">
            <ul class="list-unstyled">
                <li class="mb-2">Título: <p class="fw-bold">{{album.title}}</p></li>
                <li class="mb-2">Artista: <p class="fw-bold">{{album.artista}}</p></li>
                <li class="mb-2">Recomendacion: <p class="fw-bold">{{album.recomendacion}}</p></li>
                <li class="mb-2">Genero: <p class="fw-bold">{{album.genero}}</p></li>
                <li class="mb-2">Analisis: <p class="fw-bold">{{album.analisis}}</p></li>
                <li class="mb-2 text-muted fst-italic">Registrado: {{album.created_at}}</li>
                <li class="mb-2 text-muted fst-italic">Última actualización: {{album.updated_at}}</li>
            </ul>
            <div class="row">
                <div class="col-2">
                    <a class="btn btn-outline-primary" href="{% url 'albums' %}">Volver</a>
                </div>
                <div class="col-2">
                    <a class="btn btn-outline-secondary" href="{% url 'album-editar' album_id=album.idAlbum %}">Editar</a>
                </div>
                <div class="col-2">
                    <a class="btn btn-outline-danger modal-borrar" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop"
                    data-href="{% url 'album-eliminar' album_id=album.idAlbum %}">
                    Eliminar
                </a>
                </div>
            </div>
        </div>        
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Mensajes</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h6 class="modal-title">Estas seguro que deseas eliminar el videojuego seleccionado?<br>Esta acción no se puede deshacer.</h6>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Cancelar</button>
                <a href="#" id="confirmar-borrar" class="btn btn-danger">Si</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script>
    $('.modal-borrar').on('click',function(){
        const href = $(this).attr('data-href');
        $('#confirmar-borrar').attr('href',href);
    });
</script>
{% endblock %}