{% extends 'core/plantilla.html' %}

{% load static %}

{% block titulo %}Login{% endblock %}

{% block body %}

<div class="container mt-4"> 
    <br>
    <br>

    {% if messages %}
        <div class="alert {{ request.session.level_mensaje }} alert-dismissible" role="alert" >
            <ul>
                {% for message in messages %}
                    <li><strong>{{message}}</strong></li>    
                {% endfor %}                   
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </ul>
        </div>        
    {% endif %}    

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <form action="/login/login" method="POST">
                {% csrf_token %}
                <div class="card border-0">
                    <div class="card-header text-white bg-dark">
                        <h2 class="card-title">Login</h2>
                    </div>
                    <div class="card-body">
                        <div class="mb-3 row">
                            <label for="email" class="col-sm-3 col-form-label fw-bold">Email</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="email" name="email_login" id="email_login" maxlength=100 required>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="password" class="col-sm-3 col-form-label fw-bold">Password</label>
                            <div class="col-sm 9">
                                <input class="form-control" type="password" name="password_login" id="password_login" required>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center bg-transparent border-0">
                        <div class="d-grid gap-2 col-4 mx-auto">
                            <input class="btn btn-primary" type="submit" value="Login">
                            <input class="btn btn-dark" type="reset" value="Clear">
                        </div>
                    </div>
                    <br>
                    <div class="card-footer text-center bg-transparent border-0">
                        <div class="d-grid gap-2 col-4 mx-auto">
                            <div class="card-footer text-center">
                                <label for="registro" class="form-label"><strong>¿Aun no te has registrado?</strong></label>
                                <a name="registro" class="btn btn-danger" href="{% url 'register' %}">
                                    <i class="fa-solid fa-cart-plus">Registrate Aqui</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}